/*general*/

*{

margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Helvetica;
color: #32323232;
border: none;

}

body{

    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position-y: -200px;
}

textarea:focus, input:focus {

outline: none;


}

a, label  {

 font-size: .8rem;

}

a:hover{

color:#08558B;

}

/* container login */
#login-container{

background: #fff;
width: 400px;
margin-left: auto;
margin-right: auto;
padding: 20px 30px;
margin-top: 10vh;
border-radius: 10px;
text-align: center;


}

/* formulario */

form {

    margin-top: 30px;
    margin-bottom: 40px;

}

label, input{

display: block;
width: 100%;
text-align: left;

}

label {

    font-weight: bold;
    
}

input{

    border-bottom: 2px  solid #32323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;


}

input:focus {

border-bottom: 2px solid #08558B;

}

#forgot-pass {

text-align: right;
display: block;

}

input[type="submit"]{

    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #fff;
    background-color: #08558B;
    cursor: pointer;
    
}

input[type="submit"]:hover {

background-color: #1B223C;
transition: .5s;

}

/* redes sociales */

.social-container,  .social-container p{

margin-bottom: 20px;
color: black;

}

.social-container i{

height: 40px;
width: 40px;
border-radius: 50%;
line-height: 40px;
color: #fff;
margin: 0 5px;
cursor: pointer;

}

.fa-facebook {

background-color:#3B5998 ;


}

.fa-linkedin {

    background-color:#0077B5 ;

}

/* registrar */

#register-container  p {

margin-bottom: 10px;



}