:root{

--main: #673ab7;
--color: #444;

}


*{

margin: 0;
position: static;
padding: 0;
box-sizing: border-box;
font-family: Josefin Sans;
color: var(--color);

}

body{

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;



}

.login{

width: 320px;

}

.bottom{

position: absolute;
bottom: 10px;
left: 0;
width: 100%;
text-align: center;

}

input, button, a, p{


font-size: 13px;
font-weight: 600;

}

input, button {

margin-bottom: 20px;


}

input{

width: 100%;
padding: 10px 10px 10px  30px;
border: 0;
border-bottom: 2px solid var(--color);


}

.group {

position: relative;


}

.group i.fa{

position: absolute;
left: 10px;
top: 8px;

}

h2 {

    text-align: center;

    margin-bottom: 20px;
}

button {

width: 100%;
padding: 10px 0;
border: 0;
border-radius: 20px;
background-color: var(--main);
color: #fff;
box-shadow: 0 1px 5px 0 var(--main);
cursor: pointer;


}

a{

color: var(--main);


}

p{

    text-align: center;

}

.logo {

font-size: 60px;
text-align: center;


}

.logo  i.fa{

    color: var(--main);
    margin-bottom: 20px;

}

button:focus, input:focus {

outline: 0;


}

input:focus {

border-color: var(--main);

}

input:focus+i.fa, input:focus::placeholder{

color: var(--main);

}

body:before, body:after{

content: "";
box-shadow: 0 0 20px 0 var(--main);
position: absolute;
background-color: var(--main);
border-radius: 50%;


}

body:before {

width: 300px;
height: 300px;
left: -150px;
border-bottom: -150px;

}

body:after {

    width: 500px;
    height: 500px;
    top: -250px;
    right: -250px;
    
    }